/*-- scss:defaults --*/
// Base document colors
$body-bg: #37474F;
$body-color: white;
$link-color: #FFCD00;
$navbar-bg: #FFCD00;
$code-color: #FFCD00;

/*-- scss:rules --*/
$dropdown-active-bg: #455A64; // blue highlight

.dropdown-item {

    &:hover,
    &:focus,
    &.active {
        background-color: $dropdown-active-bg;
    }
}

.navbar-brand img {
    height: 25px;
    /* adjust as needed */
    max-height: none;
    /* overrides Bootstrap limit */
}

// Code blocks
$code-block-bg-alpha: -.8;