/*-- scss:defaults --*/
// Base document colors
$link-color: #C00A35;
$navbar-bg: #FFCD00;
$code-color: #C00A35;

// Code blocks
$code-block-bg-alpha: -.8;

.navbar-brand img {
    height: 30px;
    /* adjust as needed */
    max-height: none;
    /* overrides Bootstrap limit */
}